.page {
  min-height: 100svh;
  padding-inline: var(--page-gutter);
  font-family: var(--font-geist-sans);
}

.main {
  width: 100%;
  padding-bottom: 3rem;
}

@media (max-width: 640px) {
  .page {
    padding-inline: var(--page-gutter);
  }

  .main {
    padding-bottom: 2rem;
  }
}
