.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 1rem;
    box-sizing: border-box;
}

.logo {
    font-family: var(--font-sue-ellen);
    font-size: 64px !important;
    /*filter: invert();*/
}

.signInButton {
    display: flex;
    align-items: flex-start;
    padding: 8px 16px;

    color: var(--foreground);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signInButton:hover {
    background: var(--button-secondary-hover);
    /*color: var(--background);*/
}
