.rawResponse {
    margin-top: 1rem;
}
.toggleButton {
    display: flex;
    align-items: flex-start;
    padding: 8px 16px;

    color: var(--foreground);

    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.toggleButton:hover {
    background: var(--button-secondary-hover);
}
.rawResponseContent {
    margin-top: 0.2rem;
    padding: 1rem;

    border: 1px solid var(--gray-alpha-200);
    border-radius: 4px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.paragraph {
    margin-top: 1rem;
}

.italic {
    font-style: italic;
}